<mat-toolbar style="background-color: lightgrey;">
  <span class="example-spacer"></span>
  <button mat-icon-button (click)='goToPage("/search")' [matTooltip]="'Search requests'">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'Other options'">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)='goToPage("/autorska-prava")'>
      <mat-icon>library_books</mat-icon>
      Autorska prava
    </button>
    <button mat-menu-item (click)='logout()'>
      <mat-icon>logout</mat-icon>
      Izloguj se
    </button>
  </mat-menu>
</mat-toolbar>
