<mat-card style="padding: 30px; border-radius: 20px">
  <mat-card-title  style="text-shadow: 5px 5px 5px lightgray;">Registracija</mat-card-title>
  <mat-card-content>
    <p style="margin-top: 10px">
      <mat-form-field class="example-full-width" style="width: 49%; margin-right: 1%" appearance="outline">
        <mat-label>Email adresa</mat-label>
        <input type="email" matInput [(ngModel)]="email" [formControl]="emailFormControl"
               placeholder="Npr. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Molimo vas unesite validnu email adresu.
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email adresa je <strong>obavezna</strong>.
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 49%; margin-left: 1%" appearance="outline">
        <mat-label>Broj telefona</mat-label>
        <input matInput type="tel" [(ngModel)]="phoneNumber" [formControl]="phoneFormControl"
               placeholder="Npr. +381 1234567">
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Broj telefona je <strong>obavezan</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p style="margin-top: -10px">
      <mat-form-field style="width: 49%; margin-right: 1%" appearance="outline">
        <mat-label>Lozinka</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" [formControl]="passwordFormControl">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Lozinka je <strong>obavezna</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')  && !passwordFormControl.hasError('required')">
          Lozinka mora imati <strong>barem 6 karaktera</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 49%; margin-left: 1%" appearance="outline">
        <mat-label>Ponovljena lozinka</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="password2"
               [formControl]="password2FormControl">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password2FormControl.hasError('required')">
          Ponovljena lozinka je <strong>obavezna</strong>
        </mat-error>
        <mat-error *ngIf="password !== password2">
          Lozinke nisu iste
        </mat-error>
      </mat-form-field>
    </p>
    <p style="margin-top: -10px">
      <mat-form-field style="width: 49%; margin-right: 1%" appearance="outline">
        <mat-label>Ime</mat-label>
        <input matInput [formControl]="nameFormControl" [(ngModel)]="name">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Ime je <strong>obavezno</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 49%; margin-left: 1%" appearance="outline">
        <mat-label>Prezime</mat-label>
        <input matInput [formControl]="lastNameFormControl" [(ngModel)]="lastName">
        <mat-error *ngIf="lastNameFormControl.hasError('required')">
          Prezime je <strong>obavezno</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p style="margin-top: -10px">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Uloga u sistemu</mat-label>
        <mat-select [(ngModel)]="userRole">
          <mat-option value="GRADJANIN">Gradjanin</mat-option>
          <mat-option value="SLUZBENIK">Sluzbenik</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
        <div style="display: flex; justify-content: space-between; gap: 8px; align-content: center;">

    <button mat-raised-button color="primary" style="width: 100%;" (click)="registerNewUser()">
      Kreiraj nalog
    </button>
       <button mat-stroked-button color="secondary" style="width: 100%; "
      (click)="switchToLoginForm()">Logovanje
  </button>
        </div>
  </mat-card-content>
</mat-card>
